body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

*{
    box-sizing: border-box;
}

#toolbar {
    width: 100%;
    height: 50px;
    background-color: #1f242c;
    /* border-bottom: 1px solid #ccc; */
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 10px;
    box-sizing: border-box;
}

#savebtn{
    padding: 10px;
    background-color: unset;
    /* background: #e0e0e0; */
    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%,  
    100%, 0.075),
    /* shadow ring 👇 */
    0 0 0 1px hsla(0, 0%, 0%, 0.05),
    /* multiple soft shadows 👇 */
    0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
    0 3.5px 6px hsla(0, 0%, 0%, 0.09);
    /* border: 1px solid #ccc; */
    cursor: pointer;
    color: #DDDDDD;
    transition: 0.4s ease-in-out;
}
#savebtn:hover{
    padding: 10px;
    background: #b9b9b9;
    border: 1px solid #ccc;
    cursor: pointer;
}

#editor {
    display: flex;
}

#sidebar {
    width: 300px;
    height: calc(100vh - 50px);
    background: #222831;
    border-right: 1px solid #ccc;
    /* padding: 10px; */
    box-sizing: border-box;
    overflow: auto;
}


/* Add this to your CSS file, e.g., editor.css */
#property-sidebar {
    width: 300px;
    height: calc(100vh - 50px);
    background: #222831;
    border-left: 1px solid #ccc;
    padding: 0px;
    box-sizing: border-box;
    overflow: auto;
}

#property-sidebar h3{
    margin: 0;
    padding: 10px;
    color: #DDDDDD;
}

#property-categories {
    list-style-type: none;
    margin: 0;
    padding: 0px;
}

#property-categories li {
    cursor: pointer;
    /* border-bottom: 1px solid #ccc; */
}

#property-categories li .itemname{
    display: flex;
    justify-content: space-between;
    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%,  
    100%, 0.075),
    /* shadow ring 👇 */
    0 0 0 1px hsla(0, 0%, 0%, 0.05),
    /* multiple soft shadows 👇 */
    0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
    0 3.5px 6px hsla(0, 0%, 0%, 0.09);
    color: #DDDDDD;
    transition: 0.4s ease-in-out;
}
#property-categories li .itemname:hover{
    background-color: #406882;
    color: #fff;
}

#property-categories li .itemname p{
    padding: 0px 15px;
}
#property-categories li .itemname .symbol{
    transition: 0.4s ease-in-out;
}

.category {
    /* display: none; */
    display: flex;
    /* background: #e9e9e9; */
    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%,  
    100%, 0.075),
    /* shadow ring 👇 */
    0 0 0 1px hsla(0, 0%, 0%, 0.05),
    /* multiple soft shadows 👇 */
    0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
    0 3.5px 6px hsla(0, 0%, 0%, 0.09);
    /* border: 1px solid #ccc; */
    /* padding: 10px; */
    color: #DDDDDD;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s ease-in-out;
}

.category.open {
    max-height: 500px;
}

.category label{
    margin: 10px 10px 0px 20px;
    font-size: 12px;
}
.category select, .category input{
    padding: 5px;
    margin: 5px 15px;
    background-color: unset;
    color: #ccc;
    /* background-color: #406882;
    border: none;
    color: #f0f0f0; */
}

.fcolumn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.togglebtn {
        width: 50px;
        height: 50px;
}
input[type='color']{
    width: 50px;
    height: 50px;
    background-color: #000;
}


.layout {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
}

.element {
    background: #222831;
    /* border: 1px solid #ccc; */
    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%,  
    100%, 0.075),
    /* shadow ring 👇 */
    0 0 0 1px hsla(0, 0%, 0%, 0.05),
    /* multiple soft shadows 👇 */
    0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
    0 3.5px 6px hsla(0, 0%, 0%, 0.09);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90px; /* Fixed width for .element */
    height: auto; /* Height auto for flexible content accommodation */
    padding: 2px 2px;
    margin: 2px;
    color: grey;
    box-sizing: border-box;
}

.element p{
    font-size: 10px;
}


.draggable {
    background: #222831;
    /* border: 1px solid #ccc; */
    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%,  
    100%, 0.075),
    /* shadow ring 👇 */
    0 0 0 1px hsla(0, 0%, 0%, 0.05),
    /* multiple soft shadows 👇 */
    0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
    0 3.5px 6px hsla(0, 0%, 0%, 0.09);
    display: flex;
    justify-content: center; /* Updated for better centering of columns */
    align-items: center; /* Ensures vertical alignment is centered */
    cursor: move;
    padding: 5px;
    margin-bottom: 10px;
    width: 100%; /* Full width of parent */
    box-sizing: border-box;
}

.draggable .column {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0; /* Adjust this if you need a minimum width */
    background-color: #F05454;
    margin: 5px; /* Consistent margin for better alignment */
    border-radius: 5px;
    padding: 30px 10px;
    box-sizing: border-box;
}

#component4 .column, #component5 .column {
    padding: 10px 10px;
    background-color: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #DDDDDD;
}

.tlrbbg{
    padding: 15px;
}

.tlrb{
    /* background-color: #406882; */
    display: list-item;
    text-align: center;
    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%,  
    100%, 0.075),
    /* shadow ring 👇 */
    0 0 0 1px hsla(0, 0%, 0%, 0.05),
    /* multiple soft shadows 👇 */
    0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
    0 3.5px 6px hsla(0, 0%, 0%, 0.09);
}

.tlrb input{
    width: 50px;
    background-color: unset;
    color: #ccc;
}



#canvas {
    flex: 1;
    /* background: #f0f0f0; */
    background-color: #2b333d;
    padding: 10px;
    box-sizing: border-box;
    /* border: 1px solid #ccc; */
    height: calc(100vh - 50px);
    margin: 0px;
    overflow: auto;
}

#canvas > .draggable {
    margin-bottom: 0px;
    border-radius: 0px;
    background-color: #fff;
}

#canvas .canvas-component .column {
    background-color: unset;
    border: 1px dashed grey;
    cursor: text;
}